//
// Alkacon Unify SCSS.
// 
// Modifications and additions to the common styles. 
//

/* Unspecified styles for content alignment.
----------------------------------------------------------------------------- */

.center {
    text-align: center;
}

/* Buttons that are red should always use "OpenCms red".
----------------------------------------------------------------------------- */

.btn-u-red {
   background: $alkacon-red !important;
}
.btn-u-red:hover {
   background: lighten($alkacon-red, 30%) !important;
}

.service-block-red, i.icon-bg-red {
    background-color: $alkacon-red;
}

/* Carousel caption color.
----------------------------------------------------------------------------- */

.carousel-caption h3 {
    color: $white;
}

/* Colored boxes.
----------------------------------------------------------------------------- */

$colored-box-variants:
(
 (white, $white),         
 (lightgrey, $gray-lighter),         
 (mediumgrey, $gray-light),         
 (dark, $gray-darker),
 (red, $red),         
 (blue, $blue),         
 (green, $green),
 (sea, $sea),
 (orange, $orange),
 (yellow, $yellow),
 (purple, $violet),
 (aqua, $blue-cyan),
 (brown, $brown),
 (dark-blue, $blue-dark),
 (light-green, $green-light)
);

.colored-box, .colored-box-light {
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px;
}

.colored-box-light {
    color: $gray-darker;
}

.colored-box .headline, .colored-box-light .headline {
	border-bottom: none;
	margin: 0;
}

.colored-box .headline h2, .colored-box-light .headline h2 {
	border-bottom: none;
	margin-top: 5px;
	margin-bottom: 10px;
}

.colored-box p, 
.colored-box li, 
.colored-box h1, 
.colored-box h2, 
.colored-box h3, 
.colored-box h4,  
.colored-box h5, 
.colored-box h6 {
    color: $white;
}

.colored-box a {
    color: $red-light;
}

.colored-box-light a {
    color: $red;
}

.colored-box  a.btn-u,
.colored-box-light  a.btn-u  {
    color: $white;
}

.colored-box-light p, 
.colored-box-light li, 
.colored-box-light h1, 
.colored-box-light h2, 
.colored-box-light h3, 
.colored-box-light h4,  
.colored-box-light h5, 
.colored-box-light h6 {
    color: $gray-darker;
}

/* Background color */

@each $type-name, $bg-color in $colored-box-variants {
    .colored-box.#{""+$type-name}, .colored-box-light.#{""+$type-name} {      
        background-color: $bg-color;      
    }
}

/* Border style */

$colored-box-borderstyles:
(
 (none, 0, none),         
 (dotted, 1px, $gray-light),         
 (dashed, 1px, $gray-light),         
 (solid, 1px, $gray-light)
);

@each $style-name, $width, $bg-color in $colored-box-borderstyles {
    .colored-box.border-style-#{""+$style-name}, .colored-box-light.border-style-#{""+$style-name} {
	    border-style: #{""+$style-name};
	    border-width: $width;
	    border-color: $bg-color;
	}
}

/* Line position and color */

$colored-box-positions:
(
 top, bottom, left, right
);

@each $type-name, $bg-color in $colored-box-variants {

    @each $position in $colored-box-positions {
	    .colored-box.line-#{""+$position}-color-#{""+$type-name}, .colored-box-light.line-#{""+$position}-color-#{""+$type-name} {
	    	border-#{""+$position}-style: solid;
	    	border-#{""+$position}-width: 2px;
	    	border-#{""+$position}-color: $bg-color;
		}
	}
	.colored-box.line-box-color-#{""+$type-name}, .colored-box-light.line-box-color-#{""+$type-name} {
	    border: 2px solid $bg-color;
	}
	.colored-box.line-none-color-#{""+$type-name}, .colored-box-light.line-none-color-#{""+$type-name} {
	    border-color: $gray-light;
	}
}

/* Fancybox additions for zoom effect.
----------------------------------------------------------------------------- */

.zoomer:hover .overlay-zoom .zoom-icon {
    opacity: 0.4;
    transform: scale(1);
}
.overlay-zoom {
    cursor: pointer;
    display: block;
    height: 100%;
    position: relative;
    transition: all 0.1s ease-in-out 0s;
    width: 100%;
    z-index: 90;
}
.overlay-zoom .zoom-icon {
    background-color: #000;
    background-image: url("../img/overlay-icon.png");
    background-position: 50% center;
    background-repeat: no-repeat;
    height: inherit;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out 0s;
    width: inherit;
    z-index: 100;
}

/* Footer colors.
----------------------------------------------------------------------------- */

.footer-default .copyright {
    background-color: #dddddd; //$gray;
    border-top: 1px solid #777;
}

.footer-default .copyright p {
    color: #333333; //$text-dark;
}

.footer-default .header {
	border: none;
}

/* Jumbotron headline.
----------------------------------------------------------------------------- */

.jumbotron h1, .jumbotron .h1 {
  line-height: 1.0;
}

/* Login element.
----------------------------------------------------------------------------- */

.reg-page {
    background: none repeat scroll 0 0 $gray-lighter;
    border: 1px solid $gray-light;
    box-shadow: 0 0 3px $gray-light;
    color: $gray-darker;
	margin: 0 auto;
    padding: 30px;
	width: auto;
}
.reg-header {
    border-bottom: 1px solid $gray-light;
    color: $gray-darker;
    margin-bottom: 35px;
    text-align: center;
}
.reg-header h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.reg-page label {
    color: $gray;
}

/* Navigation colors.
----------------------------------------------------------------------------- */

// Main menu

.header .navbar-nav>.active>a, .header .navbar-nav>.active>a:hover {
  border-bottom-color: $nav-main-color-active;
  color: $nav-main-color-active;
}

.header .navbar-nav>li>a:hover {
  border-bottom-color: $nav-main-color-hover;
  color: $nav-main-color-hover;
}

.header .navbar-nav>li:hover>a {
	color: $nav-main-color-hover;
}

// Sub menu

.header .dropdown-menu {
  border-bottom: solid 2px $nav-main-color-active;
  border-bottom-color: $nav-main-color;
  border-top: solid 2px $nav-main-color-active;
  border-top-color: $nav-main-color-active;
}

.header .navbar-nav .mega-menu-fullwidth ul.dropdown-menu,
.header .navbar-nav .dropdown-menu li a {
	background-color: $nav-sub-bg;
	color: $nav-sub-color;
}

.header .navbar-nav .dropdown-menu li a:hover {
	background-color: $nav-sub-bg-hover !important;
	color: $nav-sub-color-hover;
}

.header .navbar-nav .dropdown-menu li.active a {
	background-color: $nav-sub-bg-active !important;
	color: $nav-sub-color-active;
}

// Side menu


.sidebar-nav-v1 li {
	background-color: $nav-left-bg;
}

.sidebar-nav-v1 li a,
.sidebar-nav-v1 .list-toggle:after {
	color: $nav-left-color;
}

.sidebar-nav-v1 li:hover {
	background-color: $nav-left-bg-hover;
}

.sidebar-nav-v1 li:hover a {
	color: $nav-left-color-hover;
}

.sidebar-nav-v1 > li.active, .sidebar-nav-v1 > li.active:hover {
	background-color: $nav-left-bg-active;
}

.sidebar-nav-v1 > li.active a, .sidebar-nav-v1 > li.active:hover a,
.sidebar-nav-v1 .list-toggle.active:after {
	color: $nav-left-color-active;
}

.sidebar-nav-v1 > li.active li.active a, .sidebar-nav-v1 > li.active:hover li.active a {
	color: $nav-left-sub-color-active;
}

.sidebar-nav-v1 > li.active li a, .sidebar-nav-v1 > li.active:hover li a {
	color: $nav-left-sub-color;
}

.sidebar-nav-v1 > li.active li:hover a {
	color: $nav-left-sub-color-hover;
}

.sidebar-nav-v1 li ul, .sidebar-nav-v1 li.active ul a {
	background-color: $nav-left-sub-bg;
}

/* Service Boxes.
----------------------------------------------------------------------------- */

.service-block a:hover, .service-block-in a:hover {
	text-decoration: none;
}

.service-block-colored {
  transition: all 0.3s ease-in-out 0s;
}

.service-block-colored:hover {
  opacity: 0.8;
}

.service-block-colored.service-block-default:hover {
  box-shadow: 0 0 8px #DDDDDD;
}

.service-block-colored.service-block-default:hover h2, .service-block-colored.service-block-default:hover i {
  color:    #72c02c;
}

/* Paragraphs in service blocks should use default margins */
.tag-box p {
  margin: 0 0 10px;
}

/* Slider additional styles.
----------------------------------------------------------------------------- */

.tp-caption.mediumthickblackbg, .tp-caption.mediumthickgreybg,  .tp-caption.mediumthickwhitebg {
	font-size:36px;
	line-height:36px;
	font-weight:800;
	font-family:"Open Sans";
	text-decoration:none;
	text-shadow:none;
	border-width:0px;
	border-color:rgb(255, 255, 255);
	border-style:none;
	padding: 0 4px;
}

.tp-caption.mediumthickblackbg {
	color:rgb(255, 255, 255);
	background-color:rgb(0, 0, 0);
}

.tp-caption.mediumthickgreybg {
	color:rgb(255, 255, 255);
	background-color:rgb(128, 128, 128);
}

.tp-caption.blackbgtransparent {
	background-color:rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background-color: rgba(0, 0, 0, 0.5);
	padding:7px;
}

.tp-caption.mediumthickwhitebg {
	color:rgb(0, 0, 0);
	background-color:rgb(255, 255, 255);
}

/* Social icons.
----------------------------------------------------------------------------- */

.social_slideshare {
    background: url("../img/icons/social/slideshare.png") no-repeat;
}

/* Superscript for user name in nav.
----------------------------------------------------------------------------- */

.superscript {
    top: -9px; 
    left: 4px; 
    position: relative
}