//
// Alkacon Unify SCSS.
// 
// Modifications and additions to the common styles. 
//

/* Navigation colors.
----------------------------------------------------------------------------- */

// Main menu

.header .navbar-nav>.active>a, .header .navbar-nav>.active>a:hover {
  border-bottom-color: $nav-main-color-active;
  color: $nav-main-color-active;
}

.header .navbar-nav>li>a:hover {
  border-bottom-color: $nav-main-color-hover;
  color: $nav-main-color-hover;
}

.header .navbar-nav>li:hover>a {
	color: $nav-main-color-hover;
}

// Sub menu

.header .dropdown-menu {
  border-bottom: solid 2px $nav-main-color-active;
  border-bottom-color: $nav-main-color-active;
  border-top: solid 2px $nav-main-color-active;
  border-top-color: $nav-main-color-active;
}

.header .navbar-nav .mega-menu-fullwidth ul.dropdown-menu,
.header .navbar-nav .dropdown-menu li a {
	background-color: $nav-sub-bg;
	color: $nav-sub-color;
}

.header .navbar-nav .dropdown-menu li a:hover {
	background-color: $nav-sub-bg-hover !important;
	color: $nav-sub-color-hover;
}

.header .navbar-nav .dropdown-menu li.active a {
	background-color: $nav-sub-bg-active !important;
	color: $nav-sub-color-active;
}

// Side menu


.sidebar-nav-v1 li {
	background-color: $nav-left-bg;
}

.sidebar-nav-v1 li a,
.sidebar-nav-v1 .list-toggle:after {
	color: $nav-left-color;
}

.sidebar-nav-v1 li:hover {
	background-color: $nav-left-bg-hover;
}

.sidebar-nav-v1 li:hover a {
	color: $nav-left-color-hover;
}

.sidebar-nav-v1 > li.active, .sidebar-nav-v1 > li.active:hover {
	background-color: $nav-left-bg-active;
}

.sidebar-nav-v1 > li.active a, .sidebar-nav-v1 > li.active:hover a,
.sidebar-nav-v1 .list-toggle.active:after {
	color: $nav-left-color-active;
}

.sidebar-nav-v1 > li.active li.active a, .sidebar-nav-v1 > li.active:hover li.active a {
	color: $nav-left-sub-color-active;
}

.sidebar-nav-v1 > li.active li a, .sidebar-nav-v1 > li.active:hover li a {
	color: $nav-left-sub-color;
}

.sidebar-nav-v1 > li.active li:hover a {
	color: $nav-left-sub-color-hover;
}

.sidebar-nav-v1 li ul, .sidebar-nav-v1 li.active ul a {
	background-color: $nav-left-sub-bg;
}

/* Footer colors.
----------------------------------------------------------------------------- */

.footer-default .copyright {
    background-color: #dddddd; //$gray;
}

.footer-default .copyright p {
    color: #333333; //$text-dark;
}

/* Fancybox additions for zoom effect.
----------------------------------------------------------------------------- */

.zoomer:hover .overlay-zoom .zoom-icon {
    opacity: 0.4;
    transform: scale(1);
}
.overlay-zoom {
    cursor: pointer;
    display: block;
    height: 100%;
    position: relative;
    transition: all 0.1s ease-in-out 0s;
    width: 100%;
    z-index: 90;
}
.overlay-zoom .zoom-icon {
    background-color: #000;
    background-image: url("../img/overlay-icon.png");
    background-position: 50% center;
    background-repeat: no-repeat;
    height: inherit;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out 0s;
    width: inherit;
    z-index: 100;
}

/* Slider additional styles.
----------------------------------------------------------------------------- */

.tp-caption.mediumthickblackbg, .tp-caption.mediumthickgreybg,  .tp-caption.mediumthickwhitebg {
font-size:36px;
line-height:36px;
font-weight:800;
font-family:"Open Sans";
text-decoration:none;
text-shadow:none;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
padding: 0 4px;
}

.tp-caption.mediumthickblackbg {
color:rgb(255, 255, 255);
background-color:rgb(0, 0, 0);
}

.tp-caption.mediumthickgreybg {
color:rgb(255, 255, 255);
background-color:rgb(128, 128, 128);
}

.tp-caption.blackbgtransparent {
background-color:rgb(0, 0, 0);
/* RGBa with 0.6 opacity */
background-color: rgba(0, 0, 0, 0.5);
padding:7px;
}

.tp-caption.mediumthickwhitebg {
color:rgb(0, 0, 0);
background-color:rgb(255, 255, 255);
}