//
// Alkacon Unify SCSS.
// 
// Main file - RED theme 
//

/*
 * Alkacon Unify CSS - RED theme
 *
 * -----------------------------------------------------------------------------
 * 
 * Alkacon Software - The OpenCms experts. 
 *
 * http://www.alkacon.com
 * http://www.opencms.org
 */
 
// Import default colors
@import 'defaultcolors'; 

// Color values
$theme-primary: $red;
$theme-primary-light: $red-light;
$theme-primary-lighter: $red-lighter;

$theme-secondary: $red;
$theme-secondary-light: $red-light;
$theme-secondary-lighter: $red-lighter;

// Main theme colors
$main-theme: $theme-primary;
$main-theme-hover: $theme-primary-light;
$main-theme-additional: $theme-primary-lighter;


// Navigation colors
$nav-main-bg: #FFF;
$nav-main-color: $theme-primary;
$nav-main-bg-hover: $white;
$nav-main-color-hover: $theme-secondary;
$nav-main-bg-active: $white;
$nav-main-color-active: $theme-secondary;

$nav-sub-divider: #FFF;
$nav-sub-bg: $theme-secondary;
$nav-sub-color: $white;
$nav-sub-bg-hover: $theme-secondary-light;
$nav-sub-color-hover: $white;
$nav-sub-bg-active: $theme-secondary-lighter;
$nav-sub-color-active: $theme-primary;

$nav-left-bg: $theme-secondary;
$nav-left-color: $white;
$nav-left-bg-hover: $theme-secondary-light;
$nav-left-color-hover:$white;
$nav-left-bg-active: $white;
$nav-left-color-active: $theme-secondary;

$nav-left-sub-color: $theme-secondary;
$nav-left-sub-color-active: $theme-primary;
$nav-left-sub-color-hover: $theme-primary;
$nav-left-sub-bg: #f5f5f5;

// Import the other files
@import 'imports';