//
// Alkacon Unify SCSS.
// 
// Main file - BLUE theme 
//

/*
 * Alkacon Unify CSS - BLUE theme
 *
 * -----------------------------------------------------------------------------
 * 
 * Alkacon Software - The OpenCms experts. 
 *
 * http://www.alkacon.com
 * http://www.opencms.org
 */
 
// Import default colors
@import 'defaultcolors'; 

// Color values
$theme-primary: #003374;
$theme-primary-light: lighten($theme-primary, 40%);
$theme-primary-lighter: lighten($theme-primary, 60%);

$theme-secondary: #BEAA41;
$theme-secondary-light: #F0EBCC;

// Main theme colors
$main-theme: $theme-primary;
$main-theme-hover: $theme-primary-light;
$main-theme-additional: $theme-primary-lighter;


// Navigation colors
$nav-main-bg: #FFF;
$nav-main-color: $theme-primary;
$nav-main-bg-hover: #FFF;
$nav-main-color-hover: $theme-secondary;
$nav-main-bg-active: #FFF;
$nav-main-color-active: $theme-secondary;

$nav-sub-divider: #FFF;
$nav-sub-bg: $theme-secondary;
$nav-sub-color: #FFF;
$nav-sub-bg-hover: $theme-secondary-light;
$nav-sub-color-hover: $theme-secondary;
$nav-sub-bg-active: $theme-secondary-light;
$nav-sub-color-active: $theme-primary;

$nav-left-bg: $theme-secondary-light;
$nav-left-color: $theme-primary;
$nav-left-bg-hover: $theme-secondary;
$nav-left-color-hover:#FFF;
$nav-left-bg-active: #FFF;
$nav-left-color-active: $theme-secondary;

$nav-left-sub-color: $theme-secondary;
$nav-left-sub-color-active: $theme-primary;
$nav-left-sub-color-hover: $theme-primary;
$nav-left-sub-bg: #f5f5f5;

// Import the other files
@import 'imports';