.wrap {
  width: 930px;
  margin: 0px auto;
}
.clear {
  clear: both;
}
.wrap .ui-datepicker table {
	background-color: white;
	border: none;
}

.wrap img {
  border: none;
}
.wrap a {
  color: #6998f0;
  text-decoration: none;
}
.wrap a:hover {
  color: #000;
  text-decoration: underline;
}

/* header */

#header {
  height: 90px;
}
#header h1 {
  padding: 20px 0 5px 10px;
  font-size: 20px;
  letter-spacing: -2px;
}
#header h2 {
  padding-left: 10px;
  color: #666;
  font-size: 14px;
  font-weight: 100;
}

/* right */

.wrap .right {
  float: right;
  width: 609px;
  padding: 20px;
  border-left: 1px solid #aaa;
  text-align: justify;
}
.wrap .right h2 {
  padding: 15px 0 5px 0;
  color: #B4241B;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  text-align: left;
}
#result a {
  margin-right: 5px;
}
#navigation {
  border-bottom: 1px solid #000;
}
#pager,
#pager-header {
  display: inline;
}
#pager li,
.links li {
  list-style-type: none;
  display: inline;
  background: none !important;
}
#selection {
  padding: 10px 15px 0;
}
#selection li {
  list-style-type: none;
}
#docs {
  padding-top: 1px;
}

#pager li {
  background: none;
}

/* left */
.wrap .left {
  float: left;
  width: 270px;
  padding: 0 0 10px 10px;
}
.wrap .left h2 {
  clear: left;
  padding-top: 20px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}
#search input {
  width: 240px;
}
#calendar {
  width: 160px;
  margin-top: 10px;
}
#search_help {
  font-size: 80%;
}
#docs li{
  margin: 0;
  list-style-type: none;
  display: inline;
  background: none !important;
}
.wrap .tagcloud {
  padding: 10px 15px 0;
}
.wrap .tagcloud_item {
  float: left;
  display: block;
  margin-right: 4px;
  color: #6998f0;
}
.wrap .tagcloud_item:hover {
  color: #f00;
}

/* tagcloud */

.wrap a.tagcloud_size_0 {
font-size: 80%;
}
.wrap a.tagcloud_size_1 {
font-size: 90%;
}
.wrap a.tagcloud_size_2 {
font-size: 100%;
}
.wrap a.tagcloud_size_3 {
font-size: 110%;
}
.wrap a.tagcloud_size_4 {
font-size: 120%;
}
.wrap a.tagcloud_size_5 {
font-size: 130%;
}
.wrap a.tagcloud_size_6 {
font-size: 140%;
}
.wrap a.tagcloud_size_7 {
font-size: 150%
}
.wrap a.tagcloud_size_8 {
font-size: 160%;
}
.wrap a.tagcloud_size_9 {
font-size: 170%;
}
.wrap a.tagcloud_size_10 {
font-size: 180%;
}

.wrap .links {
 font-weight: bold;
}